<head>
	<link rel='stylesheet' href='/css/nav.css' />
</head>
<header>

	<nav class='navbar'>
		<a href='/'><img src='/src/output.png' alt='' /></a>
		<ul>
			<li><a href='/alunos/novo'>Novo aluno</a></li>
		</ul>
	</nav>
</header>