<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Erro - Personal não encontrado</title>
		<link rel='stylesheet' href='/css/main.css' />
		<link rel='stylesheet' href='/css/pagaberta.css' />
		<link rel='stylesheet' href='/css/nav.css' />
		<link rel='stylesheet' href='/css/pagicad.css' />
	</head>
	<body>
		<main>
			<div class='container'>
				<h1 class='tituloa'>Erro - Personal não encontrado</h1>
				<p class='tituloa'>O Personal com matrícula
					<strong>{{Personal.matricula}}</strong>
					não foi encontrado no sistema.
					<strong>
						Por favor use a matricula 23442
					</strong></p>
				<a href='/'><button type='button' class='voltar'>Voltar à Página Inicial</button></a>
			</div>
		</main>
	</body>
</html>