<head>
	<link rel='stylesheet' href='/css/main.css' />
	<link rel='stylesheet' href='/css/nav.css' />
	<link rel='stylesheet' href='/css/pagaberta.css' />
</head>
<main>
	<h1 class='tituloPag'>Personal de {{aluno.nomeAluno}}</h1>
	<div class='fundo'>
		<h1 class='texto'>Nome: {{personal.nome}}</h1>
		<h1 class='texto'>Matricula: {{personal.matricula}}</h1>
		<h1 class='texto'>Email: {{personal.email}}</h1>
		<a href='/'><button type='button' class='voltar'>Voltar à Página Inicial</button></a>
	</div>
</main>